.ad{
    width: 300px;
    height: 600px;
    background-image: url(images/bg.jpg);
    background-size: cover;

}
*{
     font-family: sans-serif;
}
#button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:  1px solid black;
    border-radius: 15px 15px 15px 15px;
    background-color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: black;
    margin-top: 20px;
    
}
#text{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    font-size: 20px;

}
.btn-box{
    text-align: center;
}
#logo{
    width: 200px;
    text-align: center;
    display: inline-block;
    
}
.img-box{
    text-align: center;
}
#temp{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}